# Dependencies
node_modules

# Incase someone installs deps via npm not yarn
package-lock.json

# Next.js Build Directory
.next

# misc
.DS_Store
.env
.env.production

npm-debug.log*
yarn-debug.log*
yarn-error.log*

